<%= form_with url: to_do_list_invites_path do |form| %>
    <div>
        <%= form.label :invitee_email %>
        <%= form.email_field :invitee_email, required: true %>
    </div>
    <div>
        <%= form.radio_button :role, "giver" %>
        <%= form.label :giver, "I want to assign to dos to this person." %>
        <%= form.radio_button :role, "recipient" %>
        <%= form.label :recipient, "I want this person to assign to dos to me." %>
    </div>
    <%= form.submit "Invite"%>
<% end %>